<main>
    <app-horizontal-nav></app-horizontal-nav>
    <header class="container mx-auto px-16 pt-10">
        <div class="w-full">
            <app-search [onCanNotFind]="canNotFind" (resultEmit)="onSearchResult($event)"></app-search>
        </div>
    </header>

    <div class="container mx-auto px-16" [ngClass]="{'visible': isComplete, 'invisible': !isComplete}">
        <article aria-label="today"  tabindex="0">
            <section class="pt-3" aria-label="Weather today">
                <h1 class="uppercase text-slate-500 pb-1">Today</h1>
                <div class="flex flex-col lg:flex-row gap-4 columns-2">
                    <div class="w-12/12 lg:w-4/12">
                        <app-card-base [data$]="primaryCard$"></app-card-base>
                    </div>
                    <div class="w-12/12 lg:w-8/12">
                        <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3">
                            <app-card-sm [data]="item" *ngFor="let item of secondaryCard$ | async"></app-card-sm>
                        </div>
                    </div>
                </div>
            </section>
            <section class="pt-10" aria-label="Weather hourly" tabindex="0"> 
                <h2 class="uppercase text-slate-500 pb-1">Hourly</h2>
                <div>
                    <app-card-full-width [datas$]="hourlyCard$"></app-card-full-width>
                </div>
            </section>
        </article>
    
        <article aria-label="Weekly"  tabindex="0">
            <section class="pt-10" aria-label="Weather">
                <h2 class="uppercase text-slate-500 pb-1">Week</h2>
                <div class="grid grid-cols-2 gap-4 sm:grid-cols-4 md:grid-cols-5 lg:grid-cols-8">
                    <ng-container *ngFor="let item of dailyCard$ | async; let i = index">
                        <app-card-xs [data]="item" *ngIf="i > 0"></app-card-xs> 
                    </ng-container>
                </div>
            </section>
        </article>
    </div>
    <div class="container mx-auto px-16" *ngIf="!isComplete">
        <span class="absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2">
            <mat-spinner></mat-spinner>
        </span>
    </div>
</main>