<form class="flex w-full">
    <mat-form-field appearance="outline" class="w-full lg:w-4/12">
        <mat-label>Search a place</mat-label>
        <input matInput placeholder="Ex. Groningen" (focus)="onFocus($event)" [formControl]="search" aria-label="Search weather">
        <mat-hint *ngIf="onCanNotFind" align="start">Cannot find city</mat-hint>
        <button matSuffix mat-icon-button aria-hidden="true">
            <mat-icon>search</mat-icon>
        </button>
    </mat-form-field>
</form>